<% if user_signed_in? %>
  <h2>Добавить комментарий:</h2>
  <%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
      <p>
        <%= form.label :commenter, 'Пользователь' %><br>
        <%= form.text_field :commenter %>
      </p>
      <p>
        <%= form.label :body, 'Текст комментария' %><br>
        <%= form.text_area :body %>
      </p>
      <p>
        <%= form.submit 'Комментировать' %>
      </p>
  <% end %>
<% end %>